<app-header></app-header>

<div class="container-fluid" style="height: 100%">

  <div class="row">
    <div class="col-lg-3 col-sm-12">
      <div class="card commonStyle" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title commonTitle">{{InfectionsTxt}}</h5>
          <p class="card-text" style="
          color: dodgerblue;
          font-size: 35px;
          font-weight: bold;">{{Infections}}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card commonStyle" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title commonTitle">{{DeathsTxt}}</h5>
          <p class="card-text" style="
          color: red;
          font-size: 35px;
          font-weight: bold;">{{Deaths}}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card commonStyle" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title commonTitle">{{RecoveriesTxt}}</h5>
          <p class="card-text" style="
          color: green;
          font-size: 35px;
          font-weight: bold;">{{Recoveries}}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12">
      <div class="card commonStyle" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title commonTitle">{{Global_DeathsTxt}}</h5>
          <p class="card-text " style="
          color: yellow;
          font-size: 35px;
          font-weight: bold;">{{globalDeaths}}</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item active">{{Helpful_LinksTxt}}</li>
      <li class="list-group-item">{{HL1Txt}} <a href="https://www.who.int/srilanka/covid-19">http://hpb.health.gov.lk/covid-19</a>
      </li>
      <li class="list-group-item">{{HL2Txt}} <a href="http://www.quarantine.health.gov.lk/index.php?lang=en">http://hpb.health.gov.lk/covid-19</a>
      </li>
      <li class="list-group-item">{{HL3Txt}}
        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">http://hpb.health.gov.lk/covid-19</a>
      </li>
      <li class="list-group-item">{{HL4Txt}}
        <a href="https://www.who.int/southeastasia">http://hpb.health.gov.lk/covid-19</a>
      </li>
    </ul>
    <br>
    <ul class="list-group">
      <li class="list-group-item active">{{Primary_Data_SourcesTxt}}
      </li>
      <li class="list-group-item">{{P1Txt}}
        <a href="http://www.epid.gov.lk/web/">http://hpb.health.gov.lk/covid-19</a>
      </li>
      <li class="list-group-item">{{P2Txt}}
        <a href="http://hpb.health.gov.lk/covid-19">http://hpb.health.gov.lk/covid-19</a>
      </li>
      <li class="list-group-item">{{P3Txt}}
        <a href="https://www.dgi.gov.lk/">http://hpb.health.gov.lk/covid-19</a>
      </li>

    </ul>
    <br>
  </div>


  <button data-backdrop="static" data-keyboard="false" id="selectLang" style="display: none" type="button" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModal">
  </button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Language | භාෂාව | மொழி</h5>
        </div>
        <div class="modal-body">
          <select class="custom-select" (change)="selectLang($event)">
            <option value="0">--None--</option>
            <option value="1">English</option>
            <option value="2">සිංහල</option>
            <option value="3">தமிழ்</option>
          </select>
        </div>
        <div class="modal-footer">
          <!--          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
          <button type="button" class="btn btn-primary"  data-dismiss="modal" >Submit</button>
        </div>
      </div>
    </div>
  </div>

  <div class="fab-wrapper" style="margin-bottom: 10vh;z-index: 10000">
    <input (click)="openSelectLang()" id="fabCheckbox" type="checkbox" class="fab-checkbox" />
    <label class="fab" for="fabCheckbox">
      <span class="fab-dots fab-dots-1"></span>
      <span class="fab-dots fab-dots-2"></span>
      <span class="fab-dots fab-dots-3"></span>
    </label>
  </div>

</div>

<app-footer></app-footer>
